.CheckboxInput {
  position: relative;
  overflow: hidden;
}

.CheckboxInput__Input {
  position: absolute;
  left: -99999px;
}

.CheckboxInput__Label {
  width: 100%;
  padding: 5px 10px;

  &:hover {
    cursor: pointer;
    color: #0080ff;
  }
}

.CheckboxInput__Label--active {
  color: #0080ff;

  &:hover {
    text-decoration: line-through;
  }
}
