.Button {
  border: 1px solid #0080ff;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 5px 8px;
  color: #0080ff;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;

  @media (--tablet) {
    font-size: 1.1rem;
  }
}
