.Thumbnail {
  width: 37px;
  height: 37px;
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 17.544%;

  & img {
    width: 100%;
    height: auto;
  }

  @media (--tablet) {
    width: 57px;
    height: 57px;
  }
}
