.TextInput {
  position: relative;
}

.TextInput__Input {
  -webkit-appearance: none;
  border: 1px solid #f2f2f2;
  padding: 8px 10px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  width: 100%;
  border-radius: 0;
  transition: border-color 0.25s;

  &:focus {
    outline: none;
    border-color: #0080ff;
  }

  &::placeholder {
    opacity: 1;
    color: #b9b9b9;
  }

  @media (--tablet) {
    padding: 10px;
    font-size: 1.3rem;
  }
}

.TextInput__Input--clear {
  padding-right: 30px;

  @media (--tablet) {
    padding-right: 50px;
  }
}


.TextInput__Clear {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  color: #b9b9b9;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  @media (--tablet) {
    width: 50px;
    font-size: 1.3rem;
  }
}
